.message-list-item {
  display: flex;
  flex-direction: row;
  width: 600px;
  border: 1px solid #60d2d6;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #eaf1f1;
}

.message-list-item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
}

.message-list-item__author {
  font-weight: bold;
}

.message-list-item__time {
  font-size: 14px;
  color: #696969;
}

.message-list-item__icon {
  display: flex;
  margin-right: 12px;
}

.message-list-item__icon img {
  margin: auto;
  height: 55px;
  width: 55px;
  border: 1px solid #60d2d6;
  border-radius: 50%;
}

.message-list-item__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}